body {
  max-width: 100%;
}

#container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.img1 {
  width: 25%;
  background-color: aqua;
}

#container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.img2 {
  width: 25%;
}
