body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightpink;
  padding-top: 2%;
}

#container,
.center {
  display: flex;
}

#container {
  flex-direction: column;
}

header {
  width: 1300px;
  height: 100px;
  background-color: lightskyblue;
}

aside {
  width: 300px;
  height: 400px;
  background-color: cadetblue;
}

article {
  width: 1000px;
  height: 400px;
  background-color: indianred;
}

.content {
  display: flex;
  justify-content: space-around;
}

.img {
  width: 30%;
}

footer {
  width: 1300px;
  height: 100px;
  background-color: lightskyblue;
}
